<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Booking Details</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="heading">
        <center><u><h1>User Booking Details</h1></u></center>
    </div>
    <div class="tables">
        <center><table border="1" cellspacing="0" cellpadding="10px"></center>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>User Contact</th>
                    <th>User Email</th>
                    <th>User Room Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${bookform.id}"></td>
                    <td th:text="${bookform.firstname} + ' ' + ${bookform.lastname}"></td>
                    <td th:text="${bookform.contact}"></td>
                    <td th:text="${bookform.email}"></td>
                    <td th:text="${bookform.roomtype}"></td>
                </tr>
            </tbody>
        </table>     
    </div>
</body>
</html>
